body {
  background-color: #303030;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

#header {
  background-color: #ff00ff;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  gap: 20px;
}

#img {
  width: 500px;
  height: auto;
}

#pic {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

#popis {
  color: #ffffff;
}

#kupit {
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  background-color: #ff00ff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 4px 8px;
}

#kupit:hover {
  background-color: #adff2f;
  border-color: #ffff00;
}

#kupit.disabled {
  background-color: #808080;
  border-color: #808080;
}